<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATH">/logs/client-service</Property>
        <Property name="ARCHIVE_PATH">${LOG_PATH}/archive</Property>
    </Properties>

    <Appenders>
        <Console name="JsonConsole" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json">
                <EventTemplateAdditionalField key="appName" value="ClientService"/>
                <EventTemplateAdditionalField key="environment" value="PROD"/>
            </JsonTemplateLayout>
        </Console>

        <RollingFile name="AuditFile"
                     fileName="${LOG_PATH}/audit.json"
                     filePattern="${ARCHIVE_PATH}/audit-%d{yyyy-MM-dd}-%i.json.gz">

            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="30">
                <Delete basePath="${ARCHIVE_PATH}" maxDepth="1">
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.org.clientService" level="INFO" additivity="false">
            <AppenderRef ref="JsonConsole"/>
            <AppenderRef ref="AuditFile"/>
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="JsonConsole"/>
            <AppenderRef ref="AuditFile"/>
        </Root>
    </Loggers>
</Configuration>
