<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG">
    
    <Appenders>
        <!-- <File name="logToFile" filename="C:\Training\Debugs\mylog.log">
            <PatternLayout>
                <Pattern>%d %p %C-[%M:%L] [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        
        <Console name="ToConsole" target="SYSTEM_OUT">
            <PatternLayout Pattern= "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console> -->
        <RollingFile name="logToRollingFile" filename="D:\Logs\mylog.log"
                filePattern="D:\Logs\$${date:yyyy-MM}\app-%d{MM-dd-yyyy}-%i.log.gz">
                <PatternLayout>
                    <Pattern>%d %p %c:%m:%L %m%n</Pattern>
                </PatternLayout>
                
                <Policies>
                    <SizeBasedTriggeringPolicy size="1 KB"/>
                </Policies>
                
                <DefaultRolloverStrategy max="10"/>
                
        </RollingFile>
        
    </Appenders>

    <Loggers>
        <!-- for which class, which level, where (destination) -->
        <Logger name="com.ofss" level="debug" additivity="false">
            <!-- <AppenderRef ref="ToConsole"/>
            <AppenderRef ref="logToFile"/> -->
            <AppenderRef ref="logToRollingFile"/>
        </Logger>
        
    </Loggers>
    
    <Root level="error">
        <!-- <AppenderRef ref="ToConsole"/>
        <AppenderRef ref="logToFile"/> -->
        <AppenderRef ref="logToRollingFile"/>
    </Root>
    
</Configuration>
