<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATH">/logs/therapist-service</Property>
        <Property name="ARCHIVE_PATH">${LOG_PATH}/archive</Property>
    </Properties>

    <Appenders>
        <Console name="JsonConsole" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json">
            	<EventTemplateAdditionalField key="traceId" format="JSON" value='{"$resolver": "mdc", "key": "traceId"}'/>
            	<EventTemplateAdditionalField key="therapistId" format="JSON" value='{"$resolver": "mdc", "key": "therapistId"}'/>
            	<EventTemplateAdditionalField key="path" format="JSON" value='{"$resolver": "mdc", "key": "path"}'/>

                <EventTemplateAdditionalField key="appName" value="TherapistService"/>
                <EventTemplateAdditionalField key="environment" value="PROD"/>
            </JsonTemplateLayout>
        </Console>

        <RollingFile name="AuditFile"
                     fileName="${LOG_PATH}/audit.json"
                     filePattern="${ARCHIVE_PATH}/audit-%d{yyyy-MM-dd}-%i.json.gz">

            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json">
            	<EventTemplateAdditionalField key="traceId" format="JSON" value='{"$resolver": "mdc", "key": "traceId"}'/>
            	<EventTemplateAdditionalField key="therapistId" format="JSON" value='{"$resolver": "mdc", "key": "therapistId"}'/>
            	<EventTemplateAdditionalField key="path" format="JSON" value='{"$resolver": "mdc", "key": "path"}'/>

                <EventTemplateAdditionalField key="appName" value="TherapistService"/>
                <EventTemplateAdditionalField key="environment" value="PROD"/>
            </JsonTemplateLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="30">
                <Delete basePath="${ARCHIVE_PATH}" maxDepth="1">
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="SchedulerFile"
			fileName="${LOG_PATH}/scheduler.json"
			filePattern="${ARCHIVE_PATH}/scheduler-%d{yyyy-MM-dd}-%i.json.gz">

			<JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json">
				<EventTemplateAdditionalField key="traceId" format="JSON"
					value='{"$resolver": "mdc", "key": "traceId"}' />

				<EventTemplateAdditionalField key="therapistId" format="JSON"
					value='{"$resolver": "mdc", "key": "therapistId"}' />

				<EventTemplateAdditionalField key="path" format="JSON"
					value='{"$resolver": "mdc", "key": "path"}' />

				<EventTemplateAdditionalField key="appName"
					value="TherapistService" />
				<EventTemplateAdditionalField key="environment" value="PROD" />
				<EventTemplateAdditionalField key="logType" value="SCHEDULER" />

			</JsonTemplateLayout>

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>

			<DefaultRolloverStrategy max="14">
                <Delete basePath="${ARCHIVE_PATH}" maxDepth="1">
                    <IfLastModified age="14d"/>
                </Delete>
            </DefaultRolloverStrategy>

		</RollingFile>
    </Appenders>

    <Loggers>

		<Logger name="com.org.therapistService.Scheduler" level="INFO" additivity="false">
			<AppenderRef ref="SchedulerFile" />
			<AppenderRef ref="JsonConsole" />
		</Logger>

        <Logger name="com.org.therapistService" level="INFO" additivity="false">
            <AppenderRef ref="JsonConsole"/>
            <AppenderRef ref="AuditFile"/>
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="JsonConsole"/>
            <AppenderRef ref="AuditFile"/>
        </Root>
    </Loggers>
</Configuration>
